---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<h2 class="projects__heading">Picks</h2>
<div class="project-list">
  {% for pick in collections.picks %}
    {% include "pick-card.njk" %}
  {% endfor %}
</div>