<section class="projects">
  <h2 class="project__heading">Picks</h2>
  <div class="project-grid">
    {% for pick in collections.picks %}
      {% include "pick-card.njk" %}
    {% endfor %}
  </div>
</section>