<section class="technologies">
  <h2 class="technologies__heading">My final four teams for the season</h2>
  <ul class="technologies__list">
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/packers.png" alt="Packers logo">
      </div>
      <h3 class="technologies__title">Packers</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/rams.png" alt="Rams logo">
      </div>
      <h3 class="technologies__title">Rams</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/images/chiefs.png" alt="React.js logo">
      </div>
      <h3 class="technologies__title">Chiefs</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
        <img src="/images/ravens.png" alt="Ravens logo">
      </div>
      <h3 class="technologies__title">Ravens</h3>
    </li>
  </ul>
</section>