---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">About me</h2>
  <p>A customizable website to put my NFL picks for the 2022/2023 season. In this page I will put some thoughts about the season</p>
</section>