---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">About Alejo's NFL Picks</h2>
  <p>This is a website to put my NFL picks for the 2022/2023 season</p>
  <h2 class="heading--main">About me</h2>
</section>
<section class="profile">
  <div class="profile__image-wrapper">
    <img class="profile__image" src="../images/alejo.jpeg" alt="Alejo Lagos">
  </div>
  <div class="profile__card">
    <p class="profile__text">Hi! I'm <span class="profile__text--highlight">Alejo</span>, an engineer from Colombia.</p>
    <p class="profile__text">As a <span class="profile__text--highlight">Football Fan</span>, I love betting on the NFL and I thought it would be a fun project to share my picks for each week</p>
  </div>
</section>