---
title: My Posts
layout: "base.njk"
pagination:
  data: collections.picks
  size: 10
  alias: picks
  reverse: true
---

<div class="project-list">
{% for pick in picks %}
  {% include "pick-card.njk" %}
{% endfor %}
</div>